.nav-link{
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.navbar-brand{
    font-family: "Times New Roman", Times, serif;
    color: white;
}
.navbar{
    background-color: black;
    color: white;
}